<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://uork.org/css/uork-cdn19.css">
    <title>Go Lang Form</title>
    <link rel="icon" href="https://imgs.search.brave.com/B7Y7EX4YAi4UwqKdttt4T2a-qyHLGHBUF17lhnJTrF0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly95b3Vy/YmFzaWMub3JnL2dv/bGFuZy9zcXVhcmUt/Z29waGVyLnBuZw">
</head>
<body>
    <h1 class="uork-center">Simples formulário em go lang</h1>
    <h3 class="uork-center">Insira seus dados:</h3>
    <form method="POST" class="uork-center">
        <div name="Input">
        <input class="uork-input" placeholder="Seu nome vai aqui" id="name" name="name" type="text"></input></div>
        <br>
        <div name="Input2">
        <input class="uork-input" placeholder="Seu e-mail vai aqui" id="email" name="email" type="email"></input></div>

        <button class="uork-button" type="submit">Cadastro</button>
    </form>
</body>
</html>
