<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://uork.org/css/uork-cdn19.css">
    <title>Go Lang Form</title>
</head>
<body>
    <h1 class="uork-center">Simples formulário em go lang</h1>
    <form method="POST">
        <input class="" placeholder="Seu nome vai aqui" id="name" name="name" type="text"></input>
        <br>
        <input class="" placeholder="Seu e-mail vai aqui" id="email" name="email" type="email"></input>

        <button class="uork-button" type="submit">Cadastro</button>
    </form>
</body>
</html>